{
  "env": {
    "production": {
      "presets": ["env", "react"]
    },
    "development": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
