name: Deploy IndustryUI

on:
  push:
    branches:
      - master

env:
  CI: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        if: github.event.pull_request.merged == true
        uses: actions/checkout@v1

      - name: Install
        if: github.event.pull_request.merged == true
        run: |
          npm install

      - name: Build
        if: github.event.pull_request.merged == true
        run: |
          npm run deploy-storybook
